.button {
    position: relative;
    padding: 2% 3%;
    -webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    color: antiquewhite;
    background-color: brown;
    border: .150rem solid transparent;
    margin: 1em;
    border-radius: 3px;
    box-shadow: 0 0 10px #333;
    font-weight: 700;
    font-size: 1.3em;
    position: static;
    left: 50px;
    vertical-align: middle;
    width: 8em;
}

.button:hover {
    -webkit-transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    color: brown;
    background-color: antiquewhite;
    box-shadow: inset 0 0 10px #333;
    border: none;

}

body{
    background: #333;
    box-shadow: inset 0 0 200px #222;
    margin: 0;
    padding-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: beige;
}

footer span {
    font-size: .9em;
    text-align: center;
}

a {
    color: tomato;
    -webkit-transition: .33s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
            transition: .33s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

a:hover {
    -webkit-transition: .33s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
            transition: .33s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    color: burlywood;
}

.container {
    border-bottom: .15rem solid rgba(150,150,150, .5);
    border-top: .15rem solid rgba(150,150,150, .5);
    padding: 0 auto;
    margin: 0 auto;
    width: 100%;
    height: 570px;
    position: static;
}

.settings {
    padding-left: 5%;
    width: 50%;
    position: static;
}

.main {
    float: right;
    padding-right: 10; 
    width: 50%;
    position: relative;
    padding-top: -1000px;
}

.main p {
    font-size: 1.15em;
    font-weight: 200;
    vertical-align: middle;
    margin-top: -410px;
    padding-right: 18%; 
}

.game canvas{
    padding-top: 6%;
    padding-left: 10%;
    padding: 0;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    border: .125rem solid rgba(150,150,150, .3);
    left: 6%;
    margin-top: 6%;
}

canvas {
    position: relative;
}

.game-body {
    position: relative;
    float: right;
    margin-top: -455px;
}

.game-body button {
    float: right;
    margin-right: 22%;
}

.game-body img {
    float: right;
    margin-right: 10%;
}



p {
    font-size: .7em;
    font-weight: 200;
    color: beige;
    position: static;
}

img {
    border: 0.15em solid rgba(150,150,150, .3);
    margin-left: 16%; 
}