<html>
<head>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body style="height: 615px;">
<div class="container">
	<div class="game">
		<canvas id="gc" width="400" height="400"></canvas>
	</div>
	<div class="game-body">
		<img src="../img/haha.gif">
		<button class="button" onclick="main()">Exit</button>
	</div>
</div>
<footer align="center">
	<span>This game has been made by
		<a href="http://twitter.com/AndlerRL"> @Andler </a>
	</span>
</footer>
</body>
<script src="../js/script.js"></script>
<script src="../js/game-normal.js"></script>
</html>